<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lebenslauf</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="~/startbootstrap-agency-gh-pages/css/agency_uba.css" rel="stylesheet">
    <link href="~/startbootstrap-clean-blog-gh-pages/css/clean-blog.min.css" rel="stylesheet">
    <link href="~/startbootstrap-clean-blog-gh-pages/css/clean-blog_uba.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/startbootstrap-clean-blog-gh-pages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- My CSS -->
    <link href="~/Content/uba.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<style>
        .navbar-custom .nav li a {
            color: black;
        }
        .navbar-custom .navbar-brand {
            color: black;
        }
    </style>*@

</head>

<body>

    <!-- Navigation -->
    @RenderPage("NavBar.cshtml")

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    @*<header class="intro-header" style="background-image: url('../../startbootstrap-clean-blog-gh-pages/img/contact-bg.jpg')">*@
     @*<header class="intro-header" style="background-image: url('../../Content/img/lapadu-1385450_1920.jpg')">*@
         @*<header class="intro-header" style="background-image: url('../../Content/img/laboratory-1009190_1920.jpg')">*@
             @*<header class="intro-header" style="background-image: url('../../Content/img/factory-1352544_1920.jpg')">*@
    @*<header class="intro-header" style="background-image: url('../../Content/img/microbiology-163521_1280.jpg')">*@
    <header class="intro-header" style="background-image: url('../../Content/img/bacteria-106583_1920.jpg')">
        <img id="fotoMichael" class="img-circle visible-lg" src="~/Content/img/FotoMichael.png" />
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading" style="padding-bottom:50px;">
                        <h1>Lebenslauf</h1>
                        <hr class="small">
                        <span class="subheading">
                            <b>
                                Michael Willershausen<br /><br />
                                Cappeler Str. 17<br />
                                35039 Marburg<br />
                                Tel.: 0152 / 57 64 72 78<br />
                                E-Mail: <a href="mailto:miwilahn@yahoo.de" style="color:white">miwilahn@yahoo.de</a>
                                <br /><br /><br />Geburtsdatum: 10.08.1985<br />Familienstand: ledig<br />Staatsangehörigkeit: deutsch
                            </b>
                        </span>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </header>

   
    <!-- Injection from template 'startbootstrap-agency-gh-pages' -->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            @*<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>*@
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                @*<img class="img-circle img-responsive" src="~/startbootstrap-agency-gh-pages/img/about/1.jpg" alt="">*@
                                <a href="http://www.ksm-mr.de/" target="_blank"><img class="img-circle img-responsive" src="~/content/img/Logo_kms_mr.png" alt=""></a>
                                
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Schulbildung</h4>
                                   @* <h4 class="subheading">Our Humble Beginnings</h4>*@
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2002 - 2004 Mittlere Reife an den kaufmännischen Schulen in Marburg. Abschlussnote: ... (Link auf Zeugnis)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                @*<img class="img-circle img-responsive" src="~/startbootstrap-agency-gh-pages/img/about/2.jpg" alt="">*@
                                <a href="http://www.newstyle-mode.de" target="_blank"><img class="img-circle img-responsive" src="~/content/img/logo_NewStyle_adjusted.png" alt=""></a>
                                @*<img class="img-circle img-responsive" src="~/content/img/logo_alkoni.jpg" alt="">*@
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Orientierungsphase</h4>
                                   @* <h4 class="subheading">An Agency is Born</h4>*@
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">08/2004 - 07/2007 Tätigkeit als Verkäufer im Kaufhaus newstyle-mode in Marburg.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                @*<img class="img-circle img-responsive" src="~/startbootstrap-agency-gh-pages/img/about/2.jpg" alt="">*@
                                <a href="http://www.alkoni.de/" target="_blank"><img class="img-circle img-responsive" src="~/content/img/alkoni_gebaeude_2017.jpg" alt=""></a>
                                @*<img class="img-circle img-responsive" src="~/content/img/logo_alkoni.jpg" alt="">*@
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ausbildung</h4>
                                    @* <h4 class="subheading">An Agency is Born</h4>*@
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">08/2007 - 06/2010 Ausbildung zum Bürokaufmann im Möbelhaus Alkoni in Marburg. <br />Abschlussnote: ... (Link auf Zeugnis)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/content/img/SucheArbeit.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    @*<h4>Berufserfahrungen</h4>*@
                                    @*<h4 class="subheading">Transition to Full Service</h4>*@
                                </div>
                                <div class="timeline-body">
                                    @*@RenderPage("BerufserfahrungenArbeitSuchend.cshtml")*@
                                    <p class="text-muted">07/2010 - 11/2010 Arbeit suchend</p>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <a href="http://www.bosch-thermotechnology.com" target="_blank"><img class="img-circle img-responsive" src="~/content/img/bosch-logo-de2.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Berufserfahrungen</h4>
                                    @*<h4 class="subheading">Transition to Full Service</h4>*@
                                </div>
                                <div class="timeline-body">
                                    @RenderPage("BerufserfahrungenBosch.cshtml")
                                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>*@
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/content/img/SucheArbeit.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    @*<h4>Berufserfahrungen</h4>*@
                                    @*<h4 class="subheading">Transition to Full Service</h4>*@
                                </div>
                                <div class="timeline-body">
                                    @*@RenderPage("BerufserfahrungenArbeitSuchend.cshtml")*@
                                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>*@
                                    <p class="text-muted">01/2012 - 06/2013 Arbeit suchend</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="http://www.randstad.de/" target="_blank"><img class="img-circle img-responsive" src="~/content/img/RandstadNovartis.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    @*<h4>Berufserfahrungen</h4>*@
                                    @*<h4 class="subheading">Transition to Full Service</h4>*@
                                </div>
                                <div class="timeline-body">
                                    @RenderPage("BerufserfahrungenRandstad.cshtml")
                                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>*@
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.novartis.de/" target="_blank"><img class="img-circle img-responsive" src="~/content/img/logo-novartis_komplett_2.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    @*<h4>Berufserfahrungen</h4>*@
                                    @*<h4 class="subheading">Transition to Full Service</h4>*@
                                </div>
                                <div class="timeline-body">
                                    @RenderPage("BerufserfahrungenNovartis.cshtml")
                                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>*@
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/content/img/SucheArbeit.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    @*<h4>Berufserfahrungen</h4>*@
                                    @*<h4 class="subheading">Transition to Full Service</h4>*@
                                </div>
                                <div class="timeline-body">
                                    @*@RenderPage("BerufserfahrungenArbeitSuchend.cshtml")*@
                                    @*<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>*@
                                    <p class="text-muted">04/2016 - heute Arbeit suchend</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br />Gerne bei Ihnen!                                    
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Morgen</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- End of injection from template 'startbootstrap-agency-gh-pages' -->




    

    <!-- Footer -->
    <footer>
        @RenderPage("Footer.cshtml")
    </footer>

    <!-- jQuery -->
    <script src="~/startbootstrap-clean-blog-gh-pages/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/startbootstrap-clean-blog-gh-pages/js/jqBootstrapValidation.js"></script>
    <script src="~/startbootstrap-clean-blog-gh-pages/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="~/startbootstrap-clean-blog-gh-pages/js/clean-blog.min.js"></script>

</body>

</html>

